:root {
	--Ggreen: #7ed957;
	--Bblue: #38b6ff;
	--Iingigo: #5271ff;
	--Vviolet: #8c52ff;
	--Llavender: #d5b0f3;
}

h1 {
	color: var(--Vviolet); /*(165, 42, 42) red brown from before */
	text-align: center;
	padding: 10px;
	font-size: 2.5em;
}

body {
	margin: 0;
	font-family: system-ui;
}

/* Styles For Entire Page */

.expl-txt {
	padding-left: 10%;
	padding-right: 10%;
	font-size: 1.1em;
}


.sub-title {
	/* padding-left: 5%; */
	font-size: 2em;
}

/* Upload page */
.paletteParent {
	display: flex;
	justify-content: center;
	margin: auto;
	width: 75%;
}

/* sample palettes page */
.DisplayPalettes {
	/* for displaying all palettes */
	display:flex;
	width: 75%;
	justify-content: center;
	margin: auto;
}

.paletteDisplay {
	/* for displaying a single palette */
	width: 50%;
	display: inline;
}

.value {
	width: 75px; 
	height: 35px;
	text-align: center;
	vertical-align: center;
}

.colorDisplays {
	width: 75px; 
	height: 30px;
	border-right: 2px black solid;
	border-left: 2px black solid;
	line-height: 35px;
	text-align: center;
	color: rgba(105, 105, 105, 0);
	margin-left: 315px;
}

.colorDisplays:hover {
	opacity: 0.5;
	text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
	color: black;
}

.colorDisplaysTop {
	border-top: 2px black solid;

	border-right: 2px black solid;
	border-left: 2px black solid;
	margin-right: 4px;
}

.colorDisplaysBottom {
	border-bottom: 2px black solid;

	border-right: 2px black solid;
	border-left: 2px black solid;
	margin-right: 4px;
}

.paletteUncle {
	text-align: center;
}

.rel_color {
	width: 150px;
	height: 150px;
	color: rgba(105, 105, 105, 0);
	border: 2px black solid;
	line-height: 150px;
	margin-bottom: 10px;
	position: static;
    display: inline-flex;
    text-align: center;
    align-items: center;
}

.rel_color:hover {
	opacity: 0.5;
	text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
	color: black;
	
}

.rel_color_title {
}

.relcolors_sec {
	padding-top: 50px;
}

.relcolor-hex {
	padding-left: 42px;
}


/* end sample palettes page*/


.column {
	float:left; 
	width: 33.3%;
	margin-bottom: 16px;
	padding: 0 8px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 8px;
	border: 2px var(--Ggreen) solid;
}

.about-section {
	padding: 50px;
	text-align: center;
	background-color:navy;
	color: white;
	font-size: larger;
}

.container {
	padding: 0 16px;
}

.container::after, .row::after {
	content: "";
	clear: both;
	display: table;
}

.title {
	color: grey;
}

.button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: var(--Iingigo);
	text-align: center;
	cursor: pointer;
	width: 100%;
}


.button:hover {
	background-color: rgb(71, 73, 247);
}

/* for upload page class="uploadButton" */
.uploadButton {
	display: inline-block;
	outline: 0;
	border: none;
	cursor: pointer;
	font-weight: 600;
	border-radius: 4px;
	font-size: 13px;
	height: 30px;
	background-color: var(--Iingigo);
	padding: 0 20px;
 }

 .uploadButton.hover {
	background-color: black;
 }

 /* index, samplePalettes, about, colortheory*/

 .centerText {
	text-align: center;
 }

 /*samplePalettes*/

 .paletteListContainer {
	display: flex; 
	justify-content: center;
	margin: auto;
	width: 75%;
 }

 /* about */
.person {
	border: 2px var(--Ggreen) solid;
	width: 50%;
	height: 45%;
	margin: 10px;
}

.aboutPeople {
	margin: auto;
	width: 75%;
	padding: 10px;
	display: flex;
	justify-content: center;
}

