{% extends 'layout.html' %}

{% block header %}
<h1>{% block title %}About Us{% endblock %}</h1>
{% endblock %}

{% block content %}

<h2 class="sub-title centerText"> About GBIV </h2>
<div>
    <p class="expl-txt centerText">
    Design and color theory are everywhere from web development to fashion to interior design and architecture. No
    existing site has the functionality of our application which provides a powerful tool for applying color theory to the real
    world. We often have physical items such as paint, clothes, or furniture where we cannot simply check the hex code of
    the dominant color. 
    Our application combines this analysis of the color in terms of hex along with recommendations
    for colors to combine it with based on color theory.
    
    </p>
</div>


<h2 class="sub-title centerText">Our Software Development Team</h2>


<div class="aboutPeople centerText">
	<div class="person centerText">
		<h2>Cheyanne Kester</h2>
		<p class="title">Front End</p>
		<p>Contact: ckester@uoregon.edu</p>
	</div>

	<div class="person centerText">
		<h2>Austin Warren</h2>
		<p class="title">Back End</p>
		<p>Contact: awarren3@uoregon.edu</p>
	</div>

	<div class="person centerText">
		<h2>Scott Wallace</h2>
		<p class="title">Full Stack</p>
		<p>Contact: swallace@uoregon.edu</p>
	</div>
</div>

<div class="aboutPeople centerText">
	<div class="person centerText">
		<h2>Sam Heilanbach</h2>
		<p class="title">Back End</p>
		<p>Contact: sheilanbach@uoregon.edu</p>
	</div>

	<div class="person centerText">
		<h2>Ian McConachie</h2>
		<p class="title">Documentation</p>
		<p>Contact: imcconac@uoregon.edu</p>
	</div>

	<div class="person centerText">
		<h2>Catherine Raj</h2>
		<p class="title">Front End</p>
		<p>Contact: craj@uoregon.edu</p>
	</div>
</div>









<!-- <div class="team-cards">
	<div class="row centerText" >
	<div class=" col column">
		<div class="card">
			<div class="container">
				<h2>Cheyanne Kester</h2>
				<p class="title">Front End</p>
				<p>Contact: ckester@uoregon.edu</p>
			</div>
		</div>
	</div>

	<div class="col column">
		<div class="card">
			<div class="container">
				<h2>Austin Warren</h2>
				<p class="title">Back End</p>
				<p>Contact: awarren3@uoregon.edu</p>
			</div>
		</div>
	</div>

	<div class="col column">
		<div class="card">
			<div class="container">
				<h2>Scott Wallace</h2>
				<p class="title">Full Stack</p>
				<p>Contact: swallace@uoregon.edu</p>
			</div>
		</div>
	</div>
	<div class="col col-12 column">
		<div class="card">
			<div class="container">
				<h2>Sam Heilanbach</h2>
				<p class="title">Back End</p>
				<p>Contact: sheilanbach@uoregon.edu</p>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="card">
			<div class="container">
				<h2>Ian McConachie</h2>
				<p class="title">Documentation</p>
				<p>Contact: imcconac@uoregon.edu</p>
			</div>
		</div>
	</div>
	<div class="column">
		<div class="card">
			<div class="container">
				<h2>Catherine Raj</h2>
				<p class="title">Front End</p>
				<p>Contact: craj@uoregon.edu</p>
			</div>
		</div>
	</div>
</div>

</div> -->



{% endblock %}
