{% extends 'layout.html' %}
{% block header %}
<h1>{% block title %}About Color Theory{% endblock %}</h1>
{% endblock %}


{% block content %}
<div style="text-align: center;">
    <pre >
        "
        What is Color Theory?
        Color theory is the collection of rules and guidelines which designers use 
        to communicate with users through appealing color schemes in visual 
        interfaces. To pick the best colors every time, designers use a color 
        wheel and refer to extensive collected knowledge about human optical 
        ability, psychology, culture and more.
        
    
        “Color! What a deep and mysterious language, the language of dreams.”
        — Paul Gauguin, Famous post-Impressionist painter
        
    
        Color is in the Beholders’ Eyes
        Sir Isaac Newton established color theory when he invented the color 
        wheel in 1666. Newton understood colors as human perceptions—not absolute 
        qualities—of wavelengths of light. By systematically categorizing colors, 
        he defined three groups:
    
    
        Primary (red, blue, yellow)
        
        Secondary (mixes of primary colors)
        
        Tertiary (or intermediate – mixes of primary and secondary colors)
    
    
        Following Newton’s findings, the study of color advanced to cover the 
        properties of color in its two forms—i.e., print/paint and screen/light—and
        in a variety of fields, from art to astronomy. A color’s properties are:
        
    
        Hue – How it appears (e.g., “is green”).
        
        Chroma – How pure it is: i.e., if it has shades (black added), tints (white added) or tones (grey added).
        
        Lighting – How pale or saturated it appears.
        
    
        In user experience (UX) design, you need a firm grasp of color theory to
        craft harmonious, meaningful designs for your users.
        "
    
        <a href="https://www.interaction-design.org/literature/topics/color-theory#:~:text=Color%20theory%20is%20the%20collection,%2C%20psychology%2C%20culture%20and%20more">(Source for this section)</a>
    
    </pre>
</div>




{% endblock %}

