{% extends 'layout.html' %}
{% block header %}
<h1>{% block title %}About Color Theory{% endblock %}</h1>
{% endblock %}


{% block content %}
<div>

<h2 class="sub-title centerText">What is Color Theory?</h2>
<p class="expl-txt centerText">
Color theory is the thought process behind putting colors together for a design based on the
color wheel. It explains how we as humans view color and the effects of mixing colors 
together. That being said, color theory is relevant in many fields that involve visual 
communication such as marketing,art, graphic design, and etc. A very simple example
would be putting light colored text over a dark background to make things legible
for the user or reader.
</p>

<p class="expl-txt centerText">
	“Color! What a deep and mysterious language, the language of dreams.” <br>
	— Paul Gauguin, Famous post-Impressionist painter
</p>


<h2 class="sub-title centerText">Isaac Newton and Color Theory</h2>
<p class="expl-txt centerText">
	Sir Isaac Newton played a significant role in creating color theory. He put colors into three groups: primary, secondary and tertiary. Primary colors are red, blue and yellow. Secondary colors are those produced when mixing primary colors together. An example would be green which is made by blue and yellow. Lastly, tertiary is the mix of the primary and secondary colors. Examples would be blue-green, blue-violet, red-orange, etc. 
</p>


<h2 class="sub-title centerText">Color properties</h2>
<p class="expl-txt centerText">
	There are three important properties that colors have. The first one is hue, which is how the color appears. The second one is chroma which  indicates if there are any shades or tints added.  Lastly, there is lighting, which indicated the saturation of the color. 
</p>

<p class="expl-txt centerText">
	Knowing about the different groups of colors, how they mix, and the properties of colors are an essential part of UX design, art and marketing.
</p>
<h3 class="sub-title centerText" >How Gbiv uses color theory</h3>
<p class = "expl-txt centerText">
    Our program utilizes color theory by substituting/changing different HSL values. HSL stands for Hue,  Saturation, and Lightness. The HSL code takes in 3 parameters. The first is how many degrees around the wheel a particular color is. The next describes how concentrated we want it to be. The last parameter is how bright the color should be ( 50 %: Balanced between black and white). Shifting the hue values on the color wheel will change the base color. For example, if we upload an image with a dominant color of red (0 degrees), then we add .5 (hue), this means our program will output the color cyan (180 degrees).
</p>
 
<br>
<br>
<a href="https://www.interaction-design.org/literature/topics/color-theory#:~:text=Color%20theory%20is%20the%20collection,%2C%20psychology%2C%20culture%20and%20more">(Source : InteractionDesign.org)</a>

</div>



{% endblock %}

