{% extends 'layout.html' %}

{% block header %}
<h1>{% block title %}Upload Image{% endblock %}</h1>
<h3 style="text-align: center;"> Here is where you can upload your image, and GBIV will extract palettes automatically!</h3>
{% endblock %}

{% block content %}
{% if palettes == None %}
<div style="text-align: center;">
	<form style="display: inline-block;" method="POST" enctype="multipart/form-data">
		<input type=file name=file>
		<input type=submit value=Upload>
	</form>

	<h1>Welcome to Gbiv!</h1>
</div> 

{% else %}
<h4 style="text-align: center;"> Your Image {{t_file}} :</h4>
<img src="{{ url_for('static', filename='/uploads/'+t_file) }}" style="height: 50%; display: block; margin: auto; width: 50%; padding: 2.5%;" >


<h2 class="centerText"> Your Palettes</h2>
<h3 class="centerText"> (Hover Over Boxes for Corresponding Hex Codes)</h5>
{% set count = namespace(value=0) %} <!--- for color id -->
{% set count2 = namespace(value=0) %} <!--- for formatting -->
{% set rel_ind = namespace(value=0) %}
<div class="paletteParent">
	<div class="paletteUncle">
		{% for color in pList%}
		{% if color == "relcolors"%}
			{% set rel_ind.value = 1 %}
			<h2 class="centerText relcolors_sec"> Related Colors</h2>
			<h3 class="centerText"> (Hover Over Boxes for Corresponding Hex Codes)</h5>
		{% elif ((color == "Monochromatic") or (color == "Analogous") or (color == "Tetradic") or (color == "Miscellaneous")) %}
			<h2>{{color}}</h2>
			{% set count.value = count.value + 1 %}
		{% elif (color == "Complimentary") or (color == "Shades")%}
			<h2 class="rel_color_title">{{color}}</h2>
			{% set count.value = count.value + 1 %}
		{% elif rel_ind.value == 1 %}
			<div id="{{count.value}}" class="rel_color"><p class="centerText relcolor-hex">#{{color}}</p></div>
			<script>
				document.getElementById("{{count.value}}").style.cssText = `
		 		background-color: #{{color}};
		 		`
			</script>
			{% set count.value = count.value + 1 %}
			{% set count2.value = count2.value + 1 %}
		{% else %}
			{% set count.value = count.value + 1 %}
			{% set count2.value = count2.value + 1 %}
			<div id="{{count.value}}" class="colorDisplays">#{{color}}</div>

			{% if count2.value%4 == 1 %}
			<script>
				document.getElementById("{{count.value}}").style.cssText = `width: 150px; height: 50px;
		 	background-color: #{{color}};
		 	border-top: 2px black solid;
		 	border-bottom: 1px black solid;
		 	color: {{color}};
		 	`
			</script>

			{% elif count2.value%4 == 0 %}
			<script>
				document.getElementById("{{count.value}}").style.cssText = `width: 150px; height: 50px;
		 	background-color: #{{color}};
		 	border-bottom: 2px black solid;
		 	margin-bottom: 10px;
		 	color: {{color}};
		 	`
			</script>

			{% else %}
			<script>
				document.getElementById("{{count.value}}").style.cssText = `width: 150px; height: 50px;
		 	background-color: #{{color}};
		 	border-bottom: 1px black solid;
		 	color: {{color}};
		 	`
			</script>

			{% endif %}

		
		{% endif %}
		{% endfor %}
		
	</div>

	<!-- {% set count2 = namespace(value=0) %} 
	<div>
		{% for color in pList %}

		{% set count2.value = count2.value + 1 %}

		{% if count2.value%4 == 0 %}
		<p class="value" style="padding-bottom: 13px;">#{{color}}</p>

		{% else %}
		<p class="value">#{{color}}</p>

		{% endif %}


		{% endfor %}
	</div>  -->

</div>



<h4 class="centerText"> Click the UPLOAD navigation tab to upload a different image </h4>
{% endif %}


{% endblock %}
