{% extends 'layout.html' %}

{% block header %}
<h1>{% block title %}Gbiv home/upload page{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if palettes == None %}
<form method="POST" enctype="multipart/form-data">
	<input type=file name=file>
	<input type=submit value=Upload>
</form>
{% else %}
<h1> {{ palettes }} </h1>
<h1> <a class="action" href="{{ url_for('index') }}">home</a> </h1>

<script>
	function addCss(rule) {
		let css = document.createElement('style');
		css.type = 'text/css';
		if (css.styleSheet) css.styleSheet.cssText = rule; // Support for IE
		else css.appendChild(document.createTextNode(rule)); // Support for the rest
		document.getElementsByTagName("head")[0].appendChild(css);
	}
	let rule = '.colorCardCustom {background-color: {{pList[0][0]}}; }';
	window.onload = function() {addCss(rule)};
</script>

<div class="colorCardCustom" >
	<p> {{ pList[0][0] }} </p>
</div>


{% endif %}
{% endblock %}
