{% extends 'layout.html' %}
{% block header %}
<h1>{% block title %}Sample Palettes{% endblock %}</h1>
{% endblock %}

{% block content %}
<div style="display: flex; justify-content: center;margin: auto;width: 75%;">
<div>
	{% set count = namespace(value=0) %} <!--- for color id -->
	{% set count2 = namespace(value=0) %} <!--- for formatting -->
	<div class="paletteParent">
		<div>
			{% for color in palList %}
			
				{% set count.value = count.value + 1 %}
				{% set count2.value = count2.value + 1 %}
				<div id="{{count.value}}" class="colorDisplays"></div>
				
				{% if count2.value%4 == 1 %}
					<script>
						document.getElementById("{{count.value}}").style.cssText = `width: 150px; height: 50px;
						background-color: #{{color}};
						border-top: 2px black solid;
						border-bottom: 1px black solid;
						`
					</script>

				{% elif count2.value%4 == 0 %}
					<script>
						document.getElementById("{{count.value}}").style.cssText = `width: 150px; height: 50px;
						background-color: #{{color}};
						border-bottom: 2px black solid;
						margin-bottom: 10px;
						`
					</script>

				{% else %}
					<script>
						document.getElementById("{{count.value}}").style.cssText = `width: 150px; height: 50px;
						background-color: #{{color}};
						border-bottom: 1px black solid;
						`
					</script>

				{% endif %}
			
			{% endfor %}
		</div>

		{% set count2 = namespace(value=0) %} 
		<div>
			{% for color in palList %}
			
				{% set count2.value = count2.value + 1 %}

				{% if count2.value%4 == 0 %}
				<p class="value" style="padding-bottom: 13px;">#{{color}}</p>

				{% else %}
				<p class="value">#{{color}}</p>

				{% endif %}

			{% endfor %}
		</div> 
	</div>
</div>

<div style="margin-left: 20px;">
	{% set count2 = namespace(value=0) %} <!--- for formatting -->
	<div class="paletteParent">
		<div>
			{% for color in palList %}
			
				{% set count.value = count.value + 1 %}
				{% set count2.value = count2.value + 1 %}
				<div id="{{count.value}}" class="colorDisplays"></div>
				
				{% if count2.value%4 == 1 %}
					<script>
						document.getElementById("{{count.value}}").style.cssText = `width: 150px; height: 50px;
						background-color: #{{color}};
						border-top: 2px black solid;
						border-bottom: 1px black solid;
						`
					</script>

				{% elif count2.value%4 == 0 %}
					<script>
						document.getElementById("{{count.value}}").style.cssText = `width: 150px; height: 50px;
						background-color: #{{color}};
						border-bottom: 2px black solid;
						margin-bottom: 10px;
						`
					</script>

				{% else %}
					<script>
						document.getElementById("{{count.value}}").style.cssText = `width: 150px; height: 50px;
						background-color: #{{color}};
						border-bottom: 1px black solid;
						`
					</script>

				{% endif %}
			
			{% endfor %}
		</div>

		{% set count2 = namespace(value=0) %} 
		<div>
			{% for color in palList %}
			
				{% set count2.value = count2.value + 1 %}

				{% if count2.value%4 == 0 %}
				<p class="value" style="padding-bottom: 13px;">#{{color}}</p>

				{% else %}
				<p class="value">#{{color}}</p>

				{% endif %}

			{% endfor %}
		</div> 
	</div>
</div>
</div>



{% endblock %}